@charset "UTF-8";


@font-face {
    font-family:"Maximilian";
    src: url("../fonte/Maximilian.ttf") format("truetype");
}

@font-face{
    font-family:"Maximilian Zier";
    src: url("../fonte/MaximilianZierbuchstaben.ttf") format("truetype");
}

*{
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1:#141C24;
    --cor2:#3F3F46;
    --cor3:#472F1D;
    --cor4_0:#A5671C;
    --cor4_1:#DDC142;
    --cor5:#660500;
    --corFundo:#DFD9BB;
    --corFonte:#604E3D;
    --corDecorado:#F66350;

    --fontePadrao:times, serif;
    --fonteDecorado:"Maximilian";
}

body{
    background-color: var(--cor1);
}

header{
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(180deg, var(--cor4_1), var(--cor4_0));
    text-align: center;
    padding-top: 2em;
    border-radius: 0px 0px 15% 15%;
    
}

header h1{
    font-family:var(--fonteDecorado);
    font-size: 3em;
    width: 300px;
    margin: auto;
    color:white;
    text-shadow: 2px 2px 1px var(--cor4_0);
}

header nav{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    max-width:100%;
    background-color: var(--cor5);
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
      
}

nav a{
    text-decoration: none;
    background-color: var(--cor4_1);
    padding: 5px;
    width: 50px;
    color: var(--corDecorado);
    margin-top: 50px;
    border-radius: 5px;

}

main{
    margin: auto;
    margin-top: 20px;
    background-color: var(--corFundo);
    min-width:320px;
    max-width:600px ;
    
}

main article{
    padding: 20px;
}
